In [1]:
!pip install pandas 
import pandas as pd

Requirement already satisfied: pandas in c:\users\tarun\anaconda3\envs\tf_gpu\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tarun\anaconda3\envs\tf_gpu\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\tarun\anaconda3\envs\tf_gpu\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\tarun\anaconda3\envs\tf_gpu\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\tarun\anaconda3\envs\tf_gpu\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\tarun\anaconda3\envs\tf_gpu\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
df=pd.read_csv(r'C:\Users\tarun\Downloads\more_match_player_feature_matches (1).csv')

C:\Users\tarun\AppData\Local\Temp\ipykernel_30436\1480087257.py:1: DtypeWarning: Columns (27,33,44,50,52,78) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r'C:\Users\tarun\Downloads\more_match_player_feature_matches (1).csv')

In [3]:
pd.set_option('display.max_columns', None)
df['start_time'] = pd.to_datetime(df['start_time'])
# Assuming your DataFrame is named df
# Replace 'team1_class_id' and 'team2_class_id' with the actual column names in your DataFrame

filtered_df = df[(df['team1_class_id'] == 6) & (df['team2_class_id'] == 6)]

# Now, filtered_df contains only the rows where both 'team1_class_id' and 'team2_class_id' are equal to 6
import pandas as pd

# Assuming your DataFrame is named df
# Replace 'country' with the actual column name in your DataFrame

filtered_df = filtered_df[filtered_df['country_abbreviation'] == 'IND']

# Now, filtered_df contains only the rows where 'country' is equal to 'India'
# Create a mask to filter rows where the year is 2022
# List of years you want to filter
years_to_filter = [2018,2019,2021,2022]

# Create a mask to filter rows where the year is in the list of years_to_filter
mask_years = filtered_df['start_time'].dt.year.isin(years_to_filter)

# Apply the mask to the DataFrame
filtered_df = filtered_df[mask_years]

In [4]:
filtered_df['team1_abbreviation'] = filtered_df['team1_abbreviation'].replace('KXIP', 'PBKS')
filtered_df['team2_abbreviation'] = filtered_df['team2_abbreviation'].replace('KXIP', 'PBKS')

In [22]:
result_df = filtered_df

In [30]:
result_df.head()

,cricinfo_id,start_time,actual_days,adjusted,amount,amount_balls,amount_name,amount_type,away_team_id,batting_first_team_id,bpo,cancelled_match,continent_id,continent_name,country_abbreviation,country_id,days_extended,floodlit,floodlit_name,followon,gmt_difference,ground_id,ground_latitude,ground_longitude,ground_name,groud_small_name,home_team_id,international_class_card,international_class_id,international_valid,match_status,neutral_match,rain_rule,rain_rule_name,site_id,site_name,team1_abbreviation,team1_id,team1_class_id,team1_object_id,team2_abbreviation,team2_id,team2_class_id,team2_object_id,tiebreaker_name,tiebreaker_type,tiebreaker_team_id,time_zone,toss_choice_team_id,toss_decision,toss_decision_name,toss_winner_team_id,town_aka,town_id,town_name,tz_short_name,weather_location_code,winner_team_id,ground_object_id,match_id,player_id,period,balls_faced,batted,batting_position,dismissal,dismissal_card,ducks,fielder_keeper,fielder_sub,fifty_plus,fours,hundreds,innings,innings_number,minutes,notouts,outs,retired_description,runs,sixes,strike_rate,balls,bowled,bowling_position,bpo.1,caught,caught_fielder,caught_keeper,conceded,dismissals,dots,economy_rate,fielded,five_wickets,four_plus_wickets,fours_conceded,illegal_over_limit,innings_bowled,innings_fielded,maidens,noballs,overs,sixes_conceded,stumped,ten_wickets,wickets,wides,team_id,is_home,player_id.1,style_type,description,short_description,player_id.2,type,name,first_name,middle_name,last_name,display_name,weight,height,date_of_birth,position,cricinfo_id.1,maxtemp_c,mintemp_c,avgtemp_c,maxwind_kph,totalprecip_mm,totalsnow_cm,avgvis_km,avghumidity,daily_will_it_rain,daily_chance_of_rain,daily_will_it_snow,daily_chance_of_snow,condition,uv,Avg_Strike_Rate,Avg_Balls_Faced,Total_Fifties_Mean,Total_Hundreds_Mean,Total_Fifties,Total_Hundreds
0,1175364,2019-03-30 10:30:00,1.0,0.0,8.0,8.0,wickets,3.0,4346.0,4346.0,0.0,N,2.0,Asia,IND,6,0.0,2,day/night match,0.0,530.0,1015,30.691059,76.737442,"Punjab Cricket Association IS Bindra Stadium, ...",NaN,4342.0,NaN,0.0,0.0,complete,0.0,0.0,NaN,1,Global,PBKS,4342,6,335973,MI,4346,6,335978,NaN,0.0,0.0,Asia/Kolkata,0.0,NaN,NaN,4342.0,NaN,576.0,Chandigarh,IST,INXX0185,4342.0,57991.0,1175364,422108,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,422108,batting,Right-hand bat,Rhb,422108,cricket,KL Rahul,KL,NaN,Rahul,KL Rahul,0.0,0.0,1992-04-18,WBT,1175364.0,34.8,18.6,25.3,13.2,0.7,0.0,10.0,31.0,1.0,100.0,0.0,0.0,Patchy rain possible,7.0,122.7514,31.04,0.46,0.06,23.0,3.0
1,1175364,2019-03-30 10:30:00,1.0,0.0,8.0,8.0,wickets,3.0,4346.0,4346.0,0.0,N,2.0,Asia,IND,6,0.0,2,day/night match,0.0,530.0,1015,30.691059,76.737442,"Punjab Cricket Association IS Bindra Stadium, ...",NaN,4342.0,NaN,0.0,0.0,complete,0.0,0.0,NaN,1,Global,PBKS,4342,6,335973,MI,4346,6,335978,NaN,0.0,0.0,Asia/Kolkata,0.0,NaN,NaN,4342.0,NaN,576.0,Chandigarh,IST,INXX0185,4342.0,57991.0,1175364,422108,2,57.0,1.0,1.0,12.0,not out ...,0.0,0.0,0.0,1.0,6.0,0.0,1.0,2,101.0,1.0,0.0,0.0,71.0,1.0,124.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,422108,batting,Right-hand bat,Rhb,422108,cricket,KL Rahul,KL,NaN,Rahul,KL Rahul,0.0,0.0,1992-04-18,WBT,1175364.0,34.8,18.6,25.3,13.2,0.7,0.0,10.0,31.0,1.0,100.0,0.0,0.0,Patchy rain possible,7.0,122.7514,31.04,0.46,0.06,23.0,3.0
2,1175359,2019-03-25 14:30:00,1.0,0.0,14.0,0.0,runs,2.0,4342.0,4342.0,0.0,N,2.0,Asia,IND,6,0.0,3,night match,0.0,530.0,664,26.894014,75.803436,"Sawai Mansingh Stadium, Jaipur",NaN,4345.0,NaN,0.0,0.0,complete,0.0,0.0,NaN,1,Global,RR,4345,6,335977,PBKS,4342,6,335973,NaN,0.0,0.0,Asia/Kolkata,0.0,NaN,NaN,4345.0,NaN,617.0,Jaipur,IST,INXX0059,4342.0,58162.0,1175359,422108,1,4.0,1.0,1.0,1.0,c ...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1,3.0,0.0,1.0,0.0,4.0,0.0,100.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,422108,batting,Right-hand bat,Rhb,422108,cricket,KL Rahul,KL,NaN,Rahul,KL Rahul,0.0,0.0,1992-04-18,WBT,1175359.0,32.6,21.3,25.9,21.4,1.2,0.0,10.0,29.0,1.0,100.0,0.0,0.0,Moderate rain at times,7.0,122.7514,31.04,0.46,0.06,23.0,3.0
3,1175359,2019-03-25 14:30:00,1.0,0.0,14.0,0.0,runs,2.0,4342.0,4342.0,0.0,N,2.0,Asia,IND,6,0.0,3,night match,0.0,530.0,664,26.894014,75.803436,"Sawai Mansingh Stadium, Jaipur",NaN,4345.0,NaN,0.0,0.0,complete,0.0,0.0,NaN,1,Global,RR,4345,6,335977,PBKS,4342,6,335973,NaN,0.0,0.0,Asia/Kolkata,0.0,NaN,NaN,4345.0,NaN,617.0,Jaipur,IST,INXX0059,4342.0,58162.0,1175359,422108,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,6.0,2.0,2.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,422108,batting,Right-hand bat,Rhb,422108,cricket,KL Rahul,KL,NaN,Rahul,KL Rahul,0.0,0.0,1992-04-18,WBT,1175359.0,32.6,21.3,25.9,21.4,1.2,0.0,10.0,29.0,1.0,100.0,0.0,0.0,Moderate rain at times,7.0,122.7514,31.04,0.46,0.06,23.0,3.0
4,1175368,2019-04-01 14:30:00,1.0,0.0,14.0,0.0,runs,2.0,4344.0,4342.0,0.0,N,2.0,Asia,IND,6,0.0,3,night match,0.0,530.0,1015,30.691059,76.737442,"Punjab Cricket Association IS Bindra Stadium, ...",NaN,4342.0,NaN,0.0,0.0,complete,0.0,0.0,NaN,1,Global,PBKS,4342,6,335973,DC,4344,6,335975,NaN,0.0,0.0,Asia/Kolkata,0.0,NaN,NaN,4344.0,NaN,576.0,Chandigarh,IST,INXX0185,4342.0,57991.0,1175368,422108,1,11.0,1.0,1.0,3.0,lbw ...,0.0,0.0,0.0,0.0,2.0,0.0,1.0,1,8.0,0.0,1.0,0.0,15.0,1.0,136.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,422108,batting,Right-hand bat,Rhb,422108,cricket,KL Rahul,KL,NaN,Rahul,KL Rahul,0.0,0.0,1992-04-18,WBT,1175368.0,32.2,17.7,24.0,17.3,0.0,0.0,10.0,28.0,0.0,0.0,0.0,0.0,Sunny,8.0,122.7514,31.04,0.46,0.06,23.0,3.0

In [24]:
# Calculate average strike rate and average balls faced
avg_strike_rate = result_df.groupby('name')['strike_rate'].mean().reset_index(name='Avg_Strike_Rate')
avg_balls_faced = result_df.groupby('name')['balls_faced'].mean().reset_index(name='Avg_Balls_Faced')

# Merge the averages back into the original DataFrame
result_df = pd.merge(result_df, avg_strike_rate, on='name')
result_df = pd.merge(result_df, avg_balls_faced, on='name')

# Display the updated DataFrame
print(result_df.shape)

(17380, 142)

In [27]:
# Calculate total fifties and total hundreds
total_fifties_mean = result_df.groupby('name')['fifty_plus'].mean().reset_index(name='Total_Fifties_Mean')
total_hundreds_mean = result_df.groupby('name')['hundreds'].mean().reset_index(name='Total_Hundreds_Mean')

# Merge the totals back into the original DataFrame
result_df = pd.merge(result_df, total_fifties_mean, on='name')
result_df = pd.merge(result_df, total_hundreds_mean, on='name')

In [29]:
# Calculate total fifties and total hundreds
total_fifties = result_df.groupby('name')['fifty_plus'].sum().reset_index(name='Total_Fifties')
total_hundreds = result_df.groupby('name')['hundreds'].sum().reset_index(name='Total_Hundreds')

# Merge the totals back into the original DataFrame
result_df = pd.merge(result_df, total_fifties, on='name')
result_df = pd.merge(result_df, total_hundreds, on='name')

In [31]:
# Calculate total fifties and total hundreds
total_fours_sum = result_df.groupby('name')['fours'].sum().reset_index(name='Total_Fours_sum')
total_sixes_sum = result_df.groupby('name')['sixes'].sum().reset_index(name='Total_Sixes_sum')

# Merge the totals back into the original DataFrame
result_df = pd.merge(result_df, total_fours_sum, on='name')
result_df = pd.merge(result_df, total_sixes_sum, on='name')

In [32]:
# Calculate total fifties and total hundreds
total_fours = result_df.groupby('name')['fours'].mean().reset_index(name='Total_Fours_mean')
total_sixes = result_df.groupby('name')['sixes'].mean().reset_index(name='Total_Sixes_mean')

# Merge the totals back into the original DataFrame
result_df = pd.merge(result_df, total_fours, on='name')
result_df = pd.merge(result_df, total_sixes, on='name')

In [33]:
total_runs = result_df.groupby('name')['runs'].sum().reset_index(name='Total_runs')

# Merge the totals back into the original DataFrame
result_df = pd.merge(result_df, total_runs, on='name')

total_runs_mean = result_df.groupby('name')['runs'].mean().reset_index(name='Total_runs_mean')

# Merge the totals back into the original DataFrame
result_df = pd.merge(result_df, total_runs_mean, on='name')

In [34]:
result_df.shape

(17380, 152)

In [35]:
from datetime import datetime
import numpy as np 
# Assuming 'date_of_birth' is the column with date of birth
result_df['date_of_birth'] = pd.to_datetime(result_df['date_of_birth'], errors='coerce')

# Calculate age based on current date
current_date = datetime.now()
result_df['age'] = np.floor((current_date - result_df['date_of_birth']).dt.days / 365.25)

# Drop the original 'date_of_birth' column if needed
result_df.drop(columns=['date_of_birth'], inplace=True)

# Display the resulting DataFrame
print(result_df.shape)

(17380, 152)

In [36]:
result_df.fillna(0,inplace=True)

In [37]:
df_fil = pd.DataFrame(result_df)

In [38]:
df_fil.columns

Index(['cricinfo_id', 'start_time', 'actual_days', 'adjusted', 'amount',
       'amount_balls', 'amount_name', 'amount_type', 'away_team_id',
       'batting_first_team_id',
       ...
       'Total_Hundreds_Mean', 'Total_Fifties', 'Total_Hundreds',
       'Total_Fours_sum', 'Total_Sixes_sum', 'Total_Fours_mean',
       'Total_Sixes_mean', 'Total_runs', 'Total_runs_mean', 'age'],
      dtype='object', length=152)

In [39]:
# Assuming these are the columns you want to keep
columns_to_keep =['away_team_id', 'floodlit_name',
       'home_team_id', 'team1_abbreviation', 'team2_abbreviation',
       'batting_position','innings_number',
       'runs','fours','sixes','age',
       'name', 'position','ground_name','avgtemp_c','maxwind_kph','condition',
       'Avg_Balls_Faced','Avg_Strike_Rate','Total_Fifties_Mean','Total_Hundreds_Mean',
       'Total_Fifties','Total_Hundreds','Total_Fours_sum','Total_Sixes_sum','Total_Fours_mean','Total_Sixes_mean','Total_runs','Total_runs_mean']
# Keep only the specified columns in the DataFrame
df_fil = result_df[columns_to_keep]

# Display the resulting DataFrame
print(df_fil.shape)

(17380, 29)

In [40]:
import pandas as pd

# Assuming df is your DataFrame
object_columns = df_fil.select_dtypes(include=['object']).columns

# Now, object_columns contains the names of columns that have object data type
print(object_columns)

Index(['floodlit_name', 'team1_abbreviation', 'team2_abbreviation', 'name',
       'position', 'ground_name', 'condition'],
      dtype='object')

In [41]:
# Columns to encode
import joblib
from sklearn.preprocessing import LabelEncoder
import joblib
columns_to_encode =['floodlit_name', 'team1_abbreviation', 'team2_abbreviation', 'name',
       'position', 'ground_name', 'condition']
# Create a dictionary to store LabelEncoders for each column
label_encoder_dict = {}

# Encode each column and store the encoder in the dictionary
for column in columns_to_encode:
    le = LabelEncoder()
    df_fil[column] = df_fil[column].astype(str)  # Ensure data is treated as strings
    df_fil[column] = le.fit_transform(df_fil[column])
    label_encoder_dict[column] = le

C:\Users\tarun\AppData\Local\Temp\ipykernel_30436\2678365330.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fil[column] = df_fil[column].astype(str)  # Ensure data is treated as strings
C:\Users\tarun\AppData\Local\Temp\ipykernel_30436\2678365330.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fil[column] = le.fit_transform(df_fil[column])
C:\Users\tarun\AppData\Local\Temp\ipykernel_30436\2678365330.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fil[column] = df_fil[column].astype(str)  # Ensure data is treated as strings
C:\Users\tarun\AppData\Local\Temp\ipykernel_30436\2678365330.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fil[column] = le.fit_transform(df_fil[column])
C:\Users\tarun\AppData\Local\Temp\ipykernel_30436\2678365330.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fil[column] = df_fil[column].astype(str)  # Ensure data is treated as strings
C:\Users\tarun\AppData\Local\Temp\ipykernel_30436\2678365330.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fil[column] = le.fit_transform(df_fil[column])
C:\Users\tarun\AppData\Local\Temp\ipykernel_30436\2678365330.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fil[column] = df_fil[column].astype(str)  # Ensure data is treated as strings
C:\Users\tarun\AppData\Local\Temp\ipykernel_30436\2678365330.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fil[column] = le.fit_transform(df_fil[column])
C:\Users\tarun\AppData\Local\Temp\ipykernel_30436\2678365330.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fil[column] = df_fil[column].astype(str)  # Ensure data is treated as strings
C:\Users\tarun\AppData\Local\Temp\ipykernel_30436\2678365330.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fil[column] = le.fit_transform(df_fil[column])
C:\Users\tarun\AppData\Local\Temp\ipykernel_30436\2678365330.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fil[column] = df_fil[column].astype(str)  # Ensure data is treated as strings
C:\Users\tarun\AppData\Local\Temp\ipykernel_30436\2678365330.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fil[column] = le.fit_transform(df_fil[column])
C:\Users\tarun\AppData\Local\Temp\ipykernel_30436\2678365330.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fil[column] = df_fil[column].astype(str)  # Ensure data is treated as strings
C:\Users\tarun\AppData\Local\Temp\ipykernel_30436\2678365330.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fil[column] = le.fit_transform(df_fil[column])

In [55]:
from sklearn.multioutput import MultiOutputRegressor
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Assuming df_selected contains features and 'runs', 'fours', 'sixes' as target variables
X_multi = df_fil.drop(['runs', 'fours', 'sixes'], axis=1)
y_multi = df_fil[['runs', 'fours', 'sixes']]

# Split the data into training and testing sets
X_train_multi, X_test_multi, y_train_multi, y_test_multi = train_test_split(X_multi, y_multi, test_size=0.2, random_state=22)

# Create multi-output models
multi_output_linear_model = MultiOutputRegressor(LinearRegression())
multi_output_lasso_model = MultiOutputRegressor(Lasso(alpha=0.1))  # Adjust alpha based on your data
multi_output_ridge_model = MultiOutputRegressor(Ridge(alpha=0.1))  # Adjust alpha based on your data
multi_output_rf_model = MultiOutputRegressor(RandomForestRegressor(n_estimators=175, random_state=2))

# Fit the multi-output models
multi_output_linear_model.fit(X_train_multi, y_train_multi)
multi_output_lasso_model.fit(X_train_multi, y_train_multi)
multi_output_ridge_model.fit(X_train_multi, y_train_multi)
multi_output_rf_model.fit(X_train_multi, y_train_multi)

# Predictions for the multiple targets
linear_predictions_multi = multi_output_linear_model.predict(X_test_multi)
lasso_predictions_multi = multi_output_lasso_model.predict(X_test_multi)
ridge_predictions_multi = multi_output_ridge_model.predict(X_test_multi)
rf_predictions_multi = multi_output_rf_model.predict(X_test_multi)

# Evaluate the performance of the multi-output models
mse_linear_multi = mean_squared_error(y_test_multi, linear_predictions_multi)
mse_lasso_multi = mean_squared_error(y_test_multi, lasso_predictions_multi)
mse_ridge_multi = mean_squared_error(y_test_multi, ridge_predictions_multi)
mse_rf_multi = mean_squared_error(y_test_multi, rf_predictions_multi)

print(f"Multi-Output Linear Regression: Mean Squared Error on Test Set - {mse_linear_multi}")
print(f"Multi-Output Lasso Regression: Mean Squared Error on Test Set - {mse_lasso_multi}")
print(f"Multi-Output Ridge Regression: Mean Squared Error on Test Set - {mse_ridge_multi}")
print(f"Multi-Output Random Forest: Mean Squared Error on Test Set - {mse_rf_multi}")

c:\Users\tarun\anaconda3\envs\tf_gpu\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.446e+02, tolerance: 3.426e+02
  model = cd_fast.enet_coordinate_descent(

Multi-Output Linear Regression: Mean Squared Error on Test Set - 64.16774215751919
Multi-Output Lasso Regression: Mean Squared Error on Test Set - 64.10617502073949
Multi-Output Ridge Regression: Mean Squared Error on Test Set - 64.16532121971727
Multi-Output Random Forest: Mean Squared Error on Test Set - 18.37768065256022

In [58]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# Function to calculate metrics for each target separately
def calculate_metrics(y_true, y_pred, target_names):
    metrics = {}
    for idx, target in enumerate(target_names):
        mse = mean_squared_error(y_true.iloc[:, idx], y_pred[:, idx])
        mae = mean_absolute_error(y_true.iloc[:, idx], y_pred[:, idx])
        rmse = np.sqrt(mse)
        r2 = r2_score(y_true.iloc[:, idx], y_pred[:, idx])

        metrics[target] = {'MSE': mse, 'MAE': mae, 'RMSE': rmse, 'R2': r2}

    return metrics

# Define the target names (runs, fours, sixes)
target_names = ['runs', 'fours', 'sixes']

# Calculate metrics for each model
linear_metrics = calculate_metrics(y_test_multi, linear_predictions_multi, target_names)
lasso_metrics = calculate_metrics(y_test_multi, lasso_predictions_multi, target_names)
ridge_metrics = calculate_metrics(y_test_multi, ridge_predictions_multi, target_names)
rf_metrics = calculate_metrics(y_test_multi, rf_predictions_multi, target_names)

# Print the metrics for each target separately
for target in target_names:
    print(f"Metrics for {target}:")
    print(f"Linear Regression: {linear_metrics[target]}")
    print(f"Lasso Regression: {lasso_metrics[target]}")
    print(f"Ridge Regression: {ridge_metrics[target]}")
    print(f"Random Forest: {rf_metrics[target]}")
    print("\n")

Metrics for runs:
Linear Regression: {'MSE': 189.79992096046524, 'MAE': 8.946046873504478, 'RMSE': 13.776789210859882, 'R2': 0.1914345038722668}
Lasso Regression: {'MSE': 189.5962217387566, 'MAE': 8.921323107349304, 'RMSE': 13.769394385329974, 'R2': 0.192302281695504}
Ridge Regression: {'MSE': 189.79277245141057, 'MAE': 8.945542049835192, 'RMSE': 13.776529768102364, 'R2': 0.1914649571924848}
Random Forest: {'MSE': 54.23057605974496, 'MAE': 2.8974354759164886, 'RMSE': 7.364141230295965, 'R2': 0.7689726506989744}


Metrics for fours:
Linear Regression: {'MSE': 2.009826014113824, 'MAE': 0.8406493149295821, 'RMSE': 1.417683326456873, 'R2': 0.18032684002505228}
Lasso Regression: {'MSE': 2.0222478598066225, 'MAE': 0.8286111441960723, 'RMSE': 1.4220576147985786, 'R2': 0.1752608027460859}
Ridge Regression: {'MSE': 2.009708523961229, 'MAE': 0.8406558271433558, 'RMSE': 1.4176418884757986, 'R2': 0.18037475637401357}
Random Forest: {'MSE': 0.629689758342923, 'MAE': 0.2888229492026961, 'RMSE': 0.7935299353792036, 'R2': 0.7431918034694251}


Metrics for sixes:
Linear Regression: {'MSE': 0.6934794979785054, 'MAE': 0.47835368487600183, 'RMSE': 0.8327541641916331, 'R2': 0.11528764134173408}
Lasso Regression: {'MSE': 0.7000554636552375, 'MAE': 0.46797623335545296, 'RMSE': 0.8366931717512923, 'R2': 0.10689829728574318}
Ridge Regression: {'MSE': 0.6934826837800272, 'MAE': 0.47834997311298433, 'RMSE': 0.8327560769997582, 'R2': 0.11528357702838843}
Random Forest: {'MSE': 0.27277613959277613, 'MAE': 0.1812658227848101, 'RMSE': 0.5222797522332032, 'R2': 0.6520035234663831}

In [57]:
import pandas as pd

# Create a dictionary with the values
data = {
    'away_team_id': [4342.000000],
    'floodlit_name': [1.000000],
    'home_team_id': [4345.000000],
    'team1_abbreviation': [8.000000],
    'team2_abbreviation': [6.000000],
    'batting_position': [2.000000],
    'innings_number': [1.000000],
    'age': [44.000000],
    'name': [37.000000],
    'position': [0.000000],
    'ground_name': [14.000000],
    'avgtemp_c': [25.300000],
    'maxwind_kph': [21.200000],
    'condition': [3.00000],
    'Avg_Balls_Faced': [22.00000],
    'Avg_Strike_Rate': [129.35875],
    'Total_Fifties_Mean' :[0.2500],
    'Total_Hundreds_Mean':[0.03125],
    'Total_Fifties':[16.00000],
    'Total_Hundreds':[2.00000],
    'Total_Fours_sum':[190.00000],
    'Total_Sixes_sum' :[138.00000],
    'Total_Fours_mean':[2.96875],
    'Total_Sixes_mean':[2.15625],
    'Total_runs':[2072.00000],
    'Total_runs_mean':[32.37500]

}

# Create a DataFrame
new_observation = pd.DataFrame(data)

# Use the RandomForestRegressor for prediction
prediction = multi_output_rf_model.predict(new_observation)

# Display the prediction
print(f'Model Prediction: {prediction}')

Model Prediction: [[73.03428571  7.27428571  3.88      ]]

In [56]:
import pandas as pd

# Create a dictionary with the values
data = {
    'away_team_id': [4343.000000],
    'floodlit_name': [0.000000],
    'home_team_id': [4342.000000],
    'team1_abbreviation': [6.000000],
    'team2_abbreviation': [0.000000],
    'batting_position': [2.000000],
    'innings_number': [2.000000],
    'age': [44.000000],
    'name': [37.000000],
    'position': [0.000000],
    'ground_name': [12.000000],
    'avgtemp_c': [30.300000],
    'maxwind_kph': [22.200000],
    'condition': [7.00000],
    'Avg_Balls_Faced': [22.00000],
    'Avg_Strike_Rate': [129.35875],
    'Total_Fifties_Mean' :[0.2500],
    'Total_Hundreds_Mean':[0.03125],
    'Total_Fifties':[16.00000],
    'Total_Hundreds':[2.00000],
    'Total_Fours_sum':[190.00000],
    'Total_Sixes_sum' :[138.00000],
    'Total_Fours_mean':[2.96875],
    'Total_Sixes_mean':[2.15625],
    'Total_runs':[2072.00000],
    'Total_runs_mean':[32.37500]

}

# Create a DataFrame
new_observation = pd.DataFrame(data)

# Use the RandomForestRegressor for prediction
prediction = multi_output_rf_model.predict(new_observation)

# Display the prediction
print(f'Model Prediction: {prediction}')

Model Prediction: [[28.67428571  2.29714286  1.94285714]]